In [ ]:
Create Student Table with ID as Primary Key and NOT NULL , Name as 20 Characters ,Age as Int value both are NOT NULL and
Address have  25 charter And Insert Any 5 Records?

In [ ]:
CREATE TABLE student
( Id int Primary Key,
  Name char(20) NOT NULL,
  Age int NOT NULL,
  Address char(25)
);
insert into student values(1,'abc',25,India)
insert into student values(2,'abc',25,India)
insert into student values(3,'abc',25,India)
insert into student values(4,'abc',25,India)
insert into student values(5,'abc',25,India)

In [ ]:
Write an SQL query to find the youngest student in the "student" table ?

In [ ]:
select name as youngestStudent, dob as dateOfBirth
from student
where dob = (select max(dob) from yourtable)

In [ ]:
Write an SQL query to retrieve the names and addresses of all persons from the "Person" table along with their 
corresponding addresses from the "Address" table.

In [ ]:
            SELECT names 

            FROM Person as p
            and
            addresses
            FROM Address as A

            WHERE P.PersonId =A.AddressId

In [ ]:
Write an SQL query to fetch the second highest number from the "student" table.?

In [ ]:
SELECT MAX marks 
FROM student 
WHERE marks NOT IN (SELECT Max (marks) 
                          FROM student);

In [ ]:
SQL Quary to get the nth highest salary from Employee table

In [ ]:
SELECT * FROM Employee WHERE sal = 
         (
            SELECT MIN(sal) FROM Employee 
            WHERE  sal IN (
            SELECT DISTINCT TOP N
            sal FROM Employee 
            ORDER BY sal DESC
))

In [ ]:
 Write a SQL query to find the median salary of each company.?

In [ ]:
WITH cte AS (
SELECT 
	id,
	company,
	Salary,
	ROW_NUMBER() OVER(PARTITION BY company ORDER BY Salary) as rn,
	COUNT(*) OVER(PARTITION BY company ) as rc 
FROM Employee
)

SELECT Id, company, salary 
FROM cte 
WHERE rn IN ( (rc+1 ) DIV 2 , (rc+2) DIV 2 )